:root {
    --primary-color:  hsl(197, 73%, 63%);
    --secondary-color: hsl(17, 73%, 63%);
    --tertiary-color: hsl(157, 73%, 63%);
    --border-radius: 5px;
}

/* Reset & disable scrolling so NAV can hide on the right */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden
}

/* Disables the visible up/down arrow in Chrome, Safari, Edge & number forms */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
/* Disables the visible up/down arrow in Firefox number forms */
input[type=number] {
    -moz-appearance: textfield;
}

.hero {
    position: relative;
}

.overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: hsla(0, 0%, 0%, 0.2);
}

.overlay h1, .overlay .lead {
    margin: 0px;
    font-size: 3.5rem;
    font-weight: lighter;
}

/* Water logo positioning */
.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 8px;
    color: white;
}

/* Water logo size and colour change */
.logo svg {
    height: 50px;
    width: auto;
    stroke: white;
}

/* Hamburger icon positioning */
.hamburger-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Hamburger menu size change */
.hamburger-icon svg {
    height: 40px;
    width: 40px;
}

/* Close icon size change */
.close-icon svg {
    height: 35px;
    width: 35px;
    stroke: white;
}

/* Close icon positioning */
.close-icon {
    position: absolute;
    top: 22px;
    right: -100%;
}

/* Hamburger menu toggle size and positioning */
#toggle {
    opacity: 0;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 19px;
    right: 19px;
    cursor: pointer;
}

.overlay form {
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.overlay form fieldset {
    border: none;
    position: relative;
    width: 100%;
    margin: 0px;
    font-size: 1.5rem;
    /* Resetting old padding and adding new */
    padding: 0rem 0rem 1rem 0rem;
}

.overlay form .dollar {
    position: absolute;
    color: gray;
    top: 4px;
    left: 4px;
}

.overlay form #amount {
    box-sizing: border-box; 
    border: none;
    width: 58%;
    padding: 0.2rem;
    margin-left: 1.3rem;
    font-size: 1.5rem;
}

.overlay form .form-dummy {
    position: absolute;
    border-radius: var(--border-radius);
    height: 2.2rem;
    width: 100%;
    top: 0px;
    background-color: white;
}

.overlay form .month {
    position: absolute;
    top: 4px;
    right: 5px;
    color: gray;
}

.button {
    display: inline-block;
    border: 1px solid white;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.button--primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* Mouse hover changes */
.button:hover {
    background: var(--tertiary-color);
    border-color: var(--tertiary-color);
}
.button--primary:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}
#toggle:hover ~ .icon svg {
    stroke: black;
}
nav a:hover {
    color: black;
}

.video {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    top: 0px;
}

/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 
/* Alternative NAV */
nav {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 12px;
    right: 10px;
    border: 5px solid hsla(0, 0%, 0%, 0.3);
}

.close-icon {
    position: absolute;
    top: 24px;
    right: 22px;
    opacity: 0;
}
nav a {
    visibility: hidden;
}

#toggle:checked ~ nav {
    height: 330px;
    width: 180px;
    font-size: 2rem;
    top: 12px;
    right: 10px;
}

#toggle:checked ~ nav a {
    visibility: visible;
}
#toggle:checked ~ .hamburger-icon {
    opacity: 0;
}
#toggle:checked ~ .close-icon {
    opacity: 1;
}
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ 

/* nav {
    height: 330px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 12px;
    right: -100%;
    border: 5px solid hsla(0, 0%, 0%, 0.3);
} */

nav ul {
    list-style: none;
    padding: 0px;
}

/* Change display type to respect padding */
nav a {
    display: inline-block;
    color: white;
    padding: 0.5rem;
}

#toggle:checked ~ nav {
    right: 12px;
}
#toggle:checked ~ .hamburger-icon {
    right: -100%;
}
#toggle:checked ~ .close-icon {
    right: 22px;
}

/* Animation transition */
.hamburger-icon,
.close-icon,
nav,
#toggle:checked ~ nav,
#toggle:checked ~ .hamburger-icon,
#toggle:checked ~ .close-icon {
    /* transition: ease-in 0.2s; */
}

/* Z-Indexes for keeping track easily */
.overlay form .form-dummy {
    z-index: -1;
}
.video {
    z-index: -2;
}
.overlay form fieldset {
    z-index: 1;
}
nav {
    z-index: 2;
}
.hamburger-icon, .close-icon {
    z-index: 3;
}
#toggle {
    z-index: 4;
}

/* Media query */
@media (max-width: 800px) { 
    .overlay h1, .overlay .lead, .overlay p {
        text-align: center;
    }
    
    .overlay form #amount {
        width: 45%;
    }

    .button {
        display: block;
    }

    .button--primary {
        margin-bottom: 0.5rem;
    }

    #toggle:checked ~ nav {
        right: 0px;
    }

    /* Increase icon size */
    .close-icon svg {
        height: 60px;
        width: 60px;
    }

    /* Increase checkbox size */
    #toggle:checked {
        height: 50px;
        width: 50px;
        top: 25px;
        right: 23px;
    }

    /* Nav position changes for smooth transition animation */
    nav {
        height: 100vh;
        width: 100%;
        top: 0px;
        border: 0px;
        border-radius: 0px;
    }
    nav a {
        padding: 1rem;
    }
}
