body {
    margin: 0px;
}
.header, .footer, .sidebar-first, .sidebar-second, .main {
    padding: 5px;
}

.wrapper, .content, .columns {
    display: flex;
}

.content, .columns, .main {
    flex: 1;
}

.wrapper {
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    height: 50px;
    background-color: #666;
}

.content, .main {
    background-color: #ccc;
}

.columns {
    justify-content: space-between;
}

.sidebar-first, .sidebar-second {
    width: 20vw;
    background-color: #999;
}

.sidebar-first {
    order: -1;
}
