body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .content, .footer {
    padding: 10px;
}

.header, .footer {
    height: 50px;
    background-color: #666;
}

.content {
    background-color: #ccc;
    flex-grow: 1;
}
