/* GLOBAL STYLING ########################################### */
:root {
  --primary-color: #7bc144;
  --secondary-color: #edcb35;
  --tertiary-color: #ffffff;
  --button-color: #333333;
  --text-color: #252522;
  --paragraph-size: 20px;
  --content-width: 1024px;
  font-family: "Mukta", sans-serif;
  scroll-behavior: smooth;
}

/* BROWSER SPECIFIC SETTINGS ################################ */

/* Disables the visible up/down arrow in Chrome, Safari and Edge number forms */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Disables the visible up/down arrow in Firefox number forms */
input[type="number"] {
  -moz-appearance: textfield;
}

/* UTILITY ################################################## */

.to-uppercase {
  text-transform: uppercase;
}

/* GENERAL STYLING ########################################## */

h1 {
  font-size: 90px;
}

h2 {
  font-size: 30px;
}

h3 {
  color: #252522;
  font-size: 60px;
  margin-bottom: 0;
}

h4 {
  margin: 0;
  color: var(--primary-color);
  font-size: 22px;
}

button {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  font-size: 30px;
  padding: 6px 40px;
  border: none;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

/* HEADER ################################################### */

header {
  width: 100%;
  background-color: var(--tertiary-color);
  border-bottom: 3px solid var(--primary-color);
  height: 55px;
  padding: 9px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  width: 95px;
}

.header-elements {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.input-container {
  position: relative;
}

.input-container img {
  position: absolute;
  top: 6px;
  right: 6px;
}

.track-and-trace {
  width: 420px;
  height: 100%;
  padding: 0 10px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.menu-icon {
  width: 30px;
  margin-right: 8px;
}

#toggle {
  position: absolute;
  transform: scale(1.8);
  top: 18px;
  right: 23px;
  opacity: 0%;
}

#toggle:hover {
  cursor: pointer;
}

/* NAVIGATION MENU ########################################## */

.nav {
  z-index: 2;
  background-color: var(--tertiary-color);
  height: calc(100vh - 55px);
  width: 400px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 55px;
  right: -400px;
  transition: right 0.5s;
}

.nav h2 {
  margin-left: 60px;
  margin-bottom: 0px;
}

.nav ul {
  list-style-position: inside;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  font-size: 20px;
}

.nav li {
  padding: 18px 60px;
  background-image: url(images/svgs/baseline-keyboard-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 1em 1.1em;
}

.nav li:hover {
  background-color: rgb(255, 220, 60);
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-info {
  background-color: #ebebeb;
  color: var(--text-color);
  padding: 20px;
}

.nav-info p {
  font-style: normal;
}

.page-arrows {
  z-index: 1;
  position: relative;
  left: 90%;
}
.page-arrow-01 {
  top: -20px;
}
.page-arrow-02 {
  top: 20px;
}
.page-arrow-03,
.page-arrow-04,
.page-arrow-05,
.page-arrow-06,
.page-arrow-07 {
  position: absolute;
  bottom: -20px;
}

/* HERO ##################################################### */

.hero {
  position: relative;
}

.hero-overlay,
.services,
.about,
.e-commerce,
.recipient-service,
.customer-service,
.job-overlay,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
}

.hero img {
  object-fit: cover;
  width: 100%;
}

.hero-overlay h1,
.hero-overlay h2 {
  color: var(--tertiary-color);
  margin: 0;
  /* Trick for adding a small black border around text */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hero-overlay h2 {
  margin-bottom: 20px;
}

/* SERVICES ################################################# */

.services {
  justify-content: start;
  padding-top: 10px;
  height: 850px;
  position: relative;
}

.services-container {
  width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-container a {
  margin: 2px 20px;
}

.services p {
  color: var(--text-color);
  margin: 0;
  text-align: center;
  font-size: var(--paragraph-size);
  font-weight: bold;
}

.services a {
  text-decoration: none;
}

/* ABOUT #################################################### */

.about {
  height: 900px;
  background-color: var(--secondary-color);
  justify-content: unset;
  position: relative;
}

.about button {
  margin-top: 20px;
  background-color: var(--button-color);
}

.about-container p {
  flex: 1;
  margin: 20px 30px;
  font-size: var(--paragraph-size);
}

.about-container {
  width: var(--content-width);
  display: flex;
}

/* E-COMMERCE ############################################### */

.e-commerce {
  height: 700px;
  background-color: var(--primary-color);
  justify-content: unset;
  position: relative;
}

.e-commerce h3,
.e-commerce p {
  color: var(--tertiary-color);
}

.e-commerce p {
  width: var(--content-width);
  text-align: center;
  font-size: 30px;
}

.e-commerce button {
  background-color: var(--button-color);
}

/* RECIPIENT SERVICE ######################################## */

.recipient-service {
  height: 650px;
  justify-content: unset;
  position: relative;
}

.recipient-service p {
  width: var(--content-width);
  text-align: center;
  font-size: 30px;
}

.recipient-service button {
  background-color: var(--button-color);
}

/* CUSTOMER SERVICE ######################################### */

.customer-service {
  height: 900px;
  background-color: var(--secondary-color);
  justify-content: unset;
  position: relative;
}

.customer-service button {
  margin-top: 30px;
  background-color: var(--button-color);
}

.customer-service-container {
  width: var(--content-width);
  display: flex;
  /* flex-direction: column; */
}

.customer-service-container p {
  flex: 1;
  margin: 100px 30px;
  font-size: var(--paragraph-size);
}

/* JOB ###################################################### */

.job {
  position: relative;
}

.job img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.job-overlay h3 {
  color: var(--tertiary-color);
  margin-top: 0;
  margin-bottom: 50px;
}

/* CONTACT ################################################## */

.contact {
  height: 500px;
  background-color: var(--button-color);
  color: var(--tertiary-color);
}

.contact h3 {
  color: var(--tertiary-color);
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
  font-size: var(--paragraph-size);
  flex: 1;
}

.contact-container p {
  margin-top: 0;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  /* GLOBAL STYLING ########################################### */

  :root {
    --content-width: 720px;
  }

  /* GENERAL STYLING ########################################## */

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  /* NAVIGATION MENU ########################################## */

  .nav {
    width: 100%;
  }

  /* SERVICES ################################################# */

  .services {
    height: 1100px;
  }

  .customer-service p {
    font-size: 19px;
  }

  /* CONTACT ################################################## */

  .contact-container {
    /* width: 500px; */
    font-size: 16px;
    flex: 1;
  }
}
