* {
  --text-color: rgb(220, 220, 220);
  --font-size: 3rem;
  font-family: "Darker Grotesque", sans-serif;
}

.overlay {
  height: 100vh;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-effect {
  margin: 0;
  color: var(--text-color);
  font-size: var(--font-size);
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.cursor {
  font-size: var(--font-size);
  color: var(--text-color);
  animation: blinking 0.4s infinite alternate;
}
